html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::selection {
  background: #d9ff00;
  color: #050505;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9ff00;
}